@using InventoryRecord
@page "/add-product/{ID}"
<h3>AddInventoryProductPage</h3>

<div>
    <label class="form-label fw-bold">ID</label>
    <InputText class="form-control"
               @bind-Value="ItemData.ID" readonly />
</div>

<div>
    <label class="form-label fw-bold">Name</label>
    <InputText class="form-control"
               @bind-Value="ItemData.Name" />
</div>
<button type="submit"
        class="btn btn-primary btn-lg px-5"
        @onclick="OnSubmitProduct">
    Edit
</button>

@code {
    [Inject]
    private HttpClient Http { get; set; }
    [Inject]
    private IJSRuntime JS { get; set; }
    [Parameter]
    public string ID { get; set; }
    public InventoryItemData? ItemData { get; set; } = new InventoryItemData();

    protected override async Task OnParametersSetAsync()
    {
        ItemData.ID = ID;

        var products = await Http.GetFromJsonAsync<List<InventoryItemData>>("api/inventory/get-products");
        var product = products?.FirstOrDefault(p => p.ID == ID);
        if (product != null)
        {
           ItemData.Name = product.Name;
        }
      
    }


    private async Task OnSubmitProduct()
    {
        if (string.IsNullOrWhiteSpace(ItemData.Name))
        {
            await JS.InvokeVoidAsync("alert", "Please enter a product name!");
            return;
        }

        try
        {
            var response = await Http.PostAsJsonAsync("api/inventory/add-product", ItemData);

            if (!response.IsSuccessStatusCode)
            {
                var msg = await response.Content.ReadAsStringAsync();
                await JS.InvokeVoidAsync("alert", $"Submit failed! Reason: {msg}");
                return;
            }

            var result = await response.Content.ReadFromJsonAsync<IdResponse>();
            if (result != null) ItemData.ID = result.Id;

            await JS.InvokeVoidAsync("alert", $"SubmitSuccess! Product ID: {ItemData.ID}");

      
            ItemData.Name = "";
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", $"Submit failed! Exception: {ex.Message}");
        }
    }
    
}
