@using Microsoft.AspNetCore.Components.Authorization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Radzen styles -->
    <link href="_content/Radzen.Blazor/css/material-base.css" rel="stylesheet" />

    <!-- Your styles -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="customoverride.css" />
    <link rel="stylesheet" href="PurchaseBlazorApp2.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Valid Blazor head outlet -->
    <component type="typeof(HeadOutlet)" render-mode="WebAssembly" />
</head>

<body>
        <CascadingAuthenticationState>
        <PurchaseBlazorApp2.Client.Routes />
                </CascadingAuthenticationState>


    <!-- Radzen scripts -->

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="js/CookieHelper.js"></script>
    <script src="js/DeleteCookieHelper.js"></script>
    <script src="js/GeneratePDFHelper.js"></script>
    <script src="js/MSALogout.js"></script>
    <script src="js/MSARedirect.js"></script>
    <script src="js/InitMSAL.js"></script>
    <script src="js/AutoResizeTextArea.js"></script>
    <script src="js/Downloadfilefrombase64.js"></script>
    <!-- Blazor WebAssembly -->
    <script src="https://alcdn.msauth.net/browser/2.38.0/js/msal-browser.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Microsoft.Authentication.WebAssembly.Msal/AuthenticationService.js"></script>
    <script src="js/print.js"></script>
    <script src="js/BatchPrint.js"></script>

</body>



</html>