@page "/worker"
@using WorkerRecord
@using Radzen.Blazor
@inject NavigationManager NavigationManager

<h3>Worker Info</h3>

<div class="mb-3 row">
    <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="Filter by worker name"
               @bind="FilterName" />
    </div>

    <div class="col-sm-2">
        <select class="form-select" @bind="FilterStatus">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="All">All</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-select" @bind="FilterNationality">
            <option value="Local">Local</option>
            <option value="Foreign">Foreign</option>
            <option value="All">All</option>
        </select>
    </div>

</div>

@if (Workers == null || !Workers.Any())
{
    <p>No workers found.</p>
}
else
{
  <div style="overflow-x:auto;">
    <RadzenDataGrid Data="@FilteredWorkers" 
                  TItem="WorkerRecord" 
                  AllowSorting="true"
                  Style="min-width:3000px"
                  Class="shadow-sm border rounded p-3">
      <Columns>
        <RadzenDataGridColumn TItem="WorkerRecord" Property="bSelected" Width="60px">
            <HeaderTemplate>
                <RadzenCheckBox TValue="bool" Value="@CheckAllSelected()" Change="@CheckBSelected" />
            </HeaderTemplate>
            <Template Context="worker">
                <RadzenCheckBox @bind-Value="worker.bSelected" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="WorkerRecord" Property="ID" Title="ID" Width="140px" />
        <RadzenDataGridColumn TItem="WorkerRecord" Property="Name" Title="Name" Width="200px">
            <Template Context="worker">
                    <RadzenTextBox @bind-Value="worker.Name" Style="width:100%" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="Age" Title="Age" Width="100px">
            <Template Context="worker">
                        <RadzenNumeric TValue="decimal" @bind-Value="worker.Age" Style="width:100%" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="Passport" Title="Passport" Width="160px">
            <Template Context="worker">
                    <RadzenTextBox @bind-Value="worker.Passport" Style="width:100%" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="Designation" Title="Designation" Width="280px">
            <Template Context="worker">
                    <RadzenTextBox @bind-Value="worker.Designation" Style="width:100%" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="Status" Title="Status" Width="190px">
            <Template Context="worker">
                    <RadzenTextBox @bind-Value="worker.Status" Style="width:100%" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="Recommendation" Title="Recommendation" Width="160px">
            <Template Context="worker">
                    <RadzenTextBox @bind-Value="worker.Recommendation" Style="width:100%" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="WorkerStatus" Title="Active" Width="140px">
            <Template Context="worker">
                <PurchaseBlazorApp2.Client.Components.Helper.EnumDropDownBox @bind-Value="worker.WorkerStatus" TEnum="EWorkerStatus" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="EPFStatus" Title="EPF" Width="140px">
            <Template Context="worker">
                <PurchaseBlazorApp2.Client.Components.Helper.EnumDropDownBox @bind-Value="worker.EPFStatus" TEnum="EEPFCategory" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="SocsoCategory" Title="Socso" Width="140px">
            <Template Context="worker">
                <PurchaseBlazorApp2.Client.Components.Helper.EnumDropDownBox @bind-Value="worker.SocsoCategory" TEnum="ESocsoCategory" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="NationalityStatus" Title="Nationality" Width="140px">
            <Template Context="worker">
                <PurchaseBlazorApp2.Client.Components.Helper.EnumDropDownBox @bind-Value="worker.NationalityStatus" TEnum="ENationalityStatus" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="MonthlyRate" Title="Monthly Rate" Width="140px">
            <Template Context="worker">
                        <RadzenNumeric TValue="decimal" @bind-Value="worker.MonthlyRate" Style="width:100% ; background:#D9EAF7;" Step="0.01" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="HourlyRate" Title="Hourly Rate" Width="140px">
            <Template Context="worker">
                        <RadzenNumeric TValue="decimal" @bind-Value="worker.HourlyRate" Style="width:100% ; background:#D9EAF7;" Step="0.01" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="DailyRate" Title="Daily Rate" Width="140px">
            <Template Context="worker">
                        <RadzenNumeric TValue="decimal" Value="worker.DailyRate" ReadOnly="true" Style="width:100% ; background:#D9EAF7;" Step="0.01" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="OTRate" Title="OT Rate" Width="140px">
            <Template Context="worker">
                        <RadzenNumeric TValue="decimal" Value="worker.OTRate" ReadOnly="true" Style="width:100% ; background:#E0F7E9;" Step="0.01" />
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="WorkerRecord" Property="SundayRate" Title="Sunday Rate" Width="140px">
            <Template Context="worker">
                        <RadzenNumeric TValue="decimal" Value="worker.SundayRate" ReadOnly="true" Style="width:100%; background:#E0F7E9;" Step="0.01" />
            </Template>
        </RadzenDataGridColumn>
      </Columns>
    </RadzenDataGrid>
  </div>

  
  <div class ="mt-3">
        <button class="btn btn-primary" @onclick="SubmitWorker">Submit Worker 
             
        </button>
        <button  class ="btn btn-success" @onclick ="DownloadPdf" >
            Download PDF
        </button>
        <button type="button" @onclick="DownloadExcel" class="btn btn-primary">
            Download Excel
        </button>
  </div>
}

@code {
    List<WorkerRecord> Workers = new List<WorkerRecord>();
    private IEnumerable<WorkerRecord> FilteredWorkers =>
        Workers.Where(w =>
            (string.IsNullOrWhiteSpace(FilterName) || w.Name.Contains(FilterName, StringComparison.OrdinalIgnoreCase)) &&
            (FilterStatus == "All" || w.WorkerStatus.ToString() == FilterStatus) &&
            (FilterNationality == "All" || w.NationalityStatus.ToString() == FilterNationality)
        );
    string FilterName = "";
    string FilterStatus = "All";
    string FilterNationality = "All";
    ExcelWriter excelWriter;

    [Inject]
    private HttpClient Http { get; set; } 
    [Inject]
    private IJSRuntime JS { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkers();
        excelWriter = new ExcelWriter(JS);
    }

    private async Task LoadWorkers()
    {
        try
        {
            Workers = await Http.GetFromJsonAsync<List<WorkerRecord>>("api/HR/GetAllWorkers");

        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", $"Failed to load workers: {ex.Message}");
            Workers = new List<WorkerRecord>();
        }
    }

    private async Task SubmitWorker()
    {
        try
        {
          
                var response = await Http.PostAsJsonAsync("api/HR/SubmitWorker", Workers);

                if (!response.IsSuccessStatusCode)
                {
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    await JS.InvokeVoidAsync("alert", $"SubmitFail! Reason: {errorMessage}");
                
                }
            

            await JS.InvokeVoidAsync("alert", "SubmitSuccess!");
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", $"SubmitFail! Exception: {ex.Message}");
        }
    }
    private async Task DownloadPdf()
    {
        if (Workers == null || Workers.Count == 0)
        {
            await JS.InvokeVoidAsync("alert", "Table is empty");
            return;
        }

        var status = string.IsNullOrWhiteSpace(FilterStatus) ? "All" : FilterStatus;        
        var nationality = string.IsNullOrWhiteSpace(FilterNationality) ? "All" : FilterNationality;
        var pdfBytes = await Http.GetByteArrayAsync(
            $"api/pdf/hr/workers?status={status}&nationality={nationality}"
        );

        var base64 = Convert.ToBase64String(pdfBytes);

        await JS.InvokeVoidAsync(
            "downloadFileFromBase64",
            $"Workers{status}{nationality}.pdf",
            base64
        );
    }


    private async Task DownloadExcel()
    {
        await excelWriter.write(
            "workers.xlsx",
            FilteredWorkers.Where(i => i.bSelected).ToList(),
            new ExcelWriterConfig
            {
                dictInclude = new Dictionary<string, List<string>>
                {
                    {
                        "main",
                        new List<string>
                        {
                            nameof(WorkerRecord.ID),
                            nameof(WorkerRecord.Name),
                            nameof(WorkerRecord.Age),
                            nameof(WorkerRecord.Passport),
                            nameof(WorkerRecord.Designation),
                            nameof(WorkerRecord.Status),
                            nameof(WorkerRecord.Recommendation),
                            nameof(WorkerRecord.WorkerStatus),
                            nameof(WorkerRecord.EPFStatus),
                            nameof(WorkerRecord.SocsoCategory),
                            nameof(WorkerRecord.NationalityStatus),
                            nameof(WorkerRecord.MonthlyRate),
                            nameof(WorkerRecord.HourlyRate),
                            nameof(WorkerRecord.DailyRate),
                            nameof(WorkerRecord.OTRate),
                            nameof(WorkerRecord.SundayRate)
                        }
                    }
                },
                listColConfig = new List<ExcelColConfig>
                {
                    new ExcelColConfig(nameof(WorkerRecord.ID)),
                    new ExcelColConfig(nameof(WorkerRecord.Name)),
                    new ExcelColConfig(nameof(WorkerRecord.Age)),
                    new ExcelColConfig(nameof(WorkerRecord.Passport)),
                    new ExcelColConfig(nameof(WorkerRecord.Designation)),
                    new ExcelColConfig(nameof(WorkerRecord.Status)),
                    new ExcelColConfig(nameof(WorkerRecord.Recommendation)),
                    new ExcelColConfig(nameof(WorkerRecord.WorkerStatus)),
                    new ExcelColConfig(nameof(WorkerRecord.EPFStatus)),
                    new ExcelColConfig(nameof(WorkerRecord.SocsoCategory)),
                    new ExcelColConfig(nameof(WorkerRecord.NationalityStatus)),
                    new ExcelColConfig(nameof(WorkerRecord.MonthlyRate)),
                    new ExcelColConfig(nameof(WorkerRecord.HourlyRate)),
                    new ExcelColConfig(nameof(WorkerRecord.DailyRate)),
                    new ExcelColConfig(nameof(WorkerRecord.OTRate)),
                    new ExcelColConfig(nameof(WorkerRecord.SundayRate))
                }
            }
        );

        return;
    }


    private bool CheckAllSelected()
    {
        bool bAllSelected = FilteredWorkers.All(i => i.bSelected);

        return bAllSelected;
    }

    private void CheckBSelected(bool bAllSelected)
    {
        HashSet<string> setId = FilteredWorkers.Select(i => i.ID).ToHashSet();

        for (int i = 0; i < Workers.Count; i++)
        {
            if (setId.Contains(Workers[i].ID))
            {
                Workers[i].bSelected = bAllSelected;
            }
        }

        return;
    }
}



