body {
}

.rz-fileupload-files {
    display: none !important;
}

.zoom-overlay {
    position: fixed; /* Not relative or absolute */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Above everything else */
}

.zoomed-img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}